<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/tabpanel.css">
  <title>>Watch Your Movie</title>
</head>

<body>
  <%- include('partials/_checkForm.ejs') %>
  <% if (typeof errorMessage !== "undefined") { %>
  <div class="alert show">
    <span class="fas fa-exclamation-circle"></span>
    <span class="msg"> <%- errorMessage %> </span>
  </div>

  <% } %>

  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-3">
        <div class="userProfileInfo">         
          <div class="box">
            <div class="name"><strong><%=userCelebs.userName%></strong></div>
            <div class="info">
              <span><i class="fa fa-video-camera"></i> <a href="/profileMovies" title="" >Add New
                  Favorite Movie</a></span>
              <span><i class="fa fa-user"></i> <a href="/profileCelebs" title="" style="color: blue;" >Add New Favorite Celebs</a></span>
            </div>
            <div class="socialIcons clearfix">
              <span><i class="fa fa-user-times"></i> <a href="/logout" style="color: rgb(255, 0, 0);"
                  title="">Logout</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-8 col-lg-9">
        <div class="col-md-12">
          <div class="box">
            <h2 class="boxTitle">My Favorite Celebs Page</h2>
            <!-- Tabs -->
            <ul class="nav nav-tabs userProfileTabs" role="tablist">
              <li role="presentation" class=""><a href="/movieHome" aria-controls="tab-item-1" role="tab"
                  data-toggle="tab" aria-expanded="true">Movies</a></li>
              <li role="presentation" class=""><a href="/celebsHome" aria-controls="tab-item-2" role="tab"
                  data-toggle="tab" aria-expanded="true">Celebs</a></li>
              <li role="presentation" class="active"><a href="/profileMovies" aria-controls="tab-item-3" role="tab"
                  data-toggle="tab" aria-expanded="false">Profile</a></li>
              <!-- <li role="presentation" class="" ><a href="/logout" aria-controls="tab-item-4" role="tab" data-toggle="tab" aria-expanded="false">Logout</a></li> -->
            </ul>
            <div class="tab-content">
              <!-- Activities -->
              <div role="tabpanel" class="tab-pane fade active in" id="tab-item-2">
                <div class="card card-white grid-margin">
                  <div class="card-body">
                    <div class="post">
                      <form action="/createCelebs" method="POST" class="contact-form form-validate"
                        novalidate="novalidate" encType="multipart/form-data">
                        <div class="row">
                          <div class="uploader">
                            <input id="file-upload" type="file" name="image" accept="image/*" />

                            <label for="file-upload" id="file-drag">
                              <img id="file-image" src="" alt="Preview" class="hidden" />
                              <div id="start">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                <div>Select a file or drag here</div>
                                <div id="notimage" class="hidden">Please select an image</div>
                                <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                              </div>
                              <div id="response" class="hidden">
                                <div id="messages"></div>

                              </div>
                            </label>
                          </div>
                          <div class="col-sm-12 mb-3">
                            <div class="form-group">
                              <label class="required-field" for="celebsName">Celebs Name</label>
                              <input type="text" class="form-control" id="celebsName" name="celebsName"
                                placeholder="Your Favorite Celebs Name">
                            </div>
                          </div>
                          <div class="col-sm-12 mb-3">
                            <div class="form-group">
                              <label class="required-field" for="description">Celebs Description</label>
                              <textarea class="form-control" style="width: 750px;" id="description" name="description" rows="4"
                                placeholder="What is your opinions of the celebs that yo want to share..."></textarea>
                            </div>

                          </div>

                          <div class="col-sm-12 mb-3 publishContainer">
                            <button type="submit" name="submit" class="btn btn-primary">Submit</button>                          
                            <div class="inputToggle">
                              <label class="switch">
                                <input type="checkbox" checked name="visibility" />
                                <span class="slider round"></span>
                              </label>
                              <span class="visibility">Visibility</span>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
          
        <div class="col-md-12">
          <div class="box">
            <div class="tab-content">
              <!-- Activities -->
              <div role="tabpanel" class="tab-pane fade active in" id="tab-item-2">
                <div class="userActivities">
                
                  <% for(let i=0; i<userCelebs.celebs.length; i++){ ;  %>
                  <div class="i">                  

                    <div class="activityContent">
                      <ul class="simpleListings status">

                        <li id="contentShared">
                          <a href="/updateCelebsPage/<%=userCelebs.celebs[i].id %>" title="#" class="itemOptions"><i class="fa fa-cog" style="font-size: 20px;">Edit</i></a>
                          <div class="title">
                            <a  title="#"><%=userCelebs.userName%></a>
                          </div>

                          <div id="imageDiv">
                            <% if(userCelebs.celebs[i].image){ %> 
                            <img src=<%=userCelebs.celebs[i].image %> alt="#" id="contenPhoto" width="150" height="212" class="img-responsive">
                            <!-- <img src="https://via.placeholder.com/800x350/87CEFA/000000" class="img-responsive" id="contenPhoto" alt=""> -->
                            <% } else{ %> 
                             <img src=<%=userCelebs.celebs[i].image %> alt="#" id="contenPhoto" width="150" height="212" class="img-responsive">  <%  } %> 
                          </div>
                          <div class="title">
                            <a  title="#"><%=userCelebs.celebs[i].celebsName%></a>
                          </div>
                          <hr>                        

                          <textarea class="form-control" style="width: 650px;" id="description"
                          name="description" rows="4"
                          readonly>  <%=userCelebs.celebs[i].description%></textarea>

                          <div class="share">
                            <% if(userCelebsLikes.includes(userCelebs.celebs[i].id)) { %>
                              <a href="/unlikeCelebs/profileCelebs/<%=userCelebs.celebs[i].id %>" title="#"><i class="fa fa-thumbs-up"></i>
                                <% } %>
                            <% if(!userCelebsLikes.includes(userCelebs.celebs[i].id)) { %>
                            <a href="/likeCelebs/profileCelebs/<%=userCelebs.celebs[i].id %>" title="#"><i class="fa fa-thumbs-up"></i>
                              <% } %>
                              <%= celebsComments[i].likes.length %></a>
                            <a  title="#"><i class="fa fa-comments"></i>
                              <%= celebsComments[i].comments.length %></a>                           
                          </div>
                        </li>

                      </ul>

                      <!-- Comments -->
                 
                      <ul class="simpleListings comments"   style="max-height:400px;overflow:hidden; overflow-y:scroll; text-indent: 1em; ">
                     
                        <% for(let j=0; j<celebsComments[i].comments.length; j++){  %>
                        <li>
                          <p><i class="fa fa-comments"></i></p>
                          <div class="c">
                            <div class="title"><a href="#" title="#"><%=celebsComments[i].comments[j].writerName%></a></div>
                            <p><%=celebsComments[i].comments[j].text  %> </p>
                          </div>

                        </li>
                 
                        <% } %>
                      </ul>
                      <div class="c">
                        <form action="/createCelebsComment/profileCelebs/<%=userCelebs.celebs[i].id %>" method="post">
                          <textarea name="text" rows="1" placeholder="Start typing here..."
                            class="form-control js-autogrow"
                            style="overflow: hidden; word-wrap: break-word; height: 42px;"></textarea>
                          <button type="submit" class="button" style="vertical-align:middle"><span> Post
                              Comment</span></button>
                        </form>
                      </div>

                    </div>

                  </div>
                  <%  } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>

    </div>
  </div>
  <script src="js/addPhoto.js"></script>
</body>

</html>